.PizzaDetails-main-container{
    // max-width: 1200px;
    // margin: 0 auto;
    padding: 1em 4%;
    
    .PizzaDetails-container{
        margin-top: 62px;
        // margin-left: 12px;
        // margin-right: 12px;
        display: grid;
        grid-template-columns: repeat(2,500px);
        grid-column-gap: 32px;
        @media screen and (max-width:1072px) {
            display: grid;
            grid-template-columns: 500px;
            place-content: center;
            width: fit-content;
         
        }
      
        img{
            width: 100%;
            // height: 500px;
            object-fit: cover;
            border-radius: 22px;
            @media screen and (max-width:600px) {
                width: 80%;
            }
        }
        .pizza-info{
           
            margin-top: 12px;
            .pizza-info-title{
                margin-bottom: 12px;
                p{
                    font-weight: bold;
                    font-size: 3rem;
                }
            }
            .veg-symbol{

            }
            .pizza-info-price{
                margin-bottom: 12px;
                font-size: 1.7rem;
                font-weight: 500;
                span{
                    font-weight: bold;
                    font-size: 2rem;
                }
            }
            .desc{
                font-size: 1.8rem;
                margin-bottom: 12px;
            }
        }
    }
}

.dropdown-container{
    position: relative;
    select{
        border: 3px solid;
        width: 80%;
        font-family: "Poppins",sans-serif;
        font-size: 2rem;
        padding: .5em .3em;
        font-weight: 500;
        option{
            font-family: "Poppins",sans-serif;
            font-weight: 500;
            font-size: 2rem;
        }
    }
  
}
.cart-add-btn{
    width: 100px;
    height: 40px;
    margin-top: 12px;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #AF1DF3;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: #b544e9;
        transition: all .3s ease-in-out;
    }
}

.dropdown-title{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 12px;
}